<div class="slider-box">
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #fff">
      <h1>Farm-fresh products</h1>
      <h2>At your doorstep</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-1.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #fff">
      <h1>Certified A1 Quality</h1>
      <h2>Approved by FSSAI</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-2.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #444">
      <h1>Highly trusted by</h1>
      <h2>Lakhs of consumers</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-3.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #444">
      <h1>God speed delivery</h1>
      <h2>24hrs x 7days</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-4.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #444">
      <h1>Safe packing methods</h1>
      <h2>Guarenteed no-perish</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-5.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #444">
      <h1>Are you vegan?</h1>
      <h2>This is the place</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-6.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #fff">
      <h1>Cool this summer</h1>
      <h2>With refreshing fruits</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-7.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #fff">
      <h1>Juicy steaky meats</h1>
      <h2>Now available!</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-8.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #444">
      <h1>Hand picked seafoods</h1>
      <h2>You'll ever see anywhere</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-9.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #fff">
      <h1>Exotic fruits</h1>
      <h2>And vegetables available!</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-10.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #444">
      <h1>Freshest milk products</h1>
      <h2>Straight outta farm</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-11.png"
      alt="slider-banner"
    />
  </div>
  <div class="slider-box-component">
    <div class="slide-detail" style="color: #fff">
      <h1>Tingle your senses</h1>
      <h2>With our ice-creams</h2>
    </div>
    <img
      class="slider-image"
      src="../../../assets/slider-raw-12.png"
      alt="slider-banner"
    />
  </div>
</div>

<div class="card-container">
  <div style="--i: 1" class="card">
    <div class="header">
      <h1>24hrs Delivery</h1>
      <h1>24hrs Delivery</h1>
    </div>
    <p>Guarenteed doorstep delivery within 24 hrous.</p>
    <div class="icon-container">
      <i class="icon fa-solid fa-clock"></i>
    </div>
  </div>
  <div style="--i: 2" class="card">
    <div class="header">
      <h1>Hygiene Packing</h1>
      <h1>Hygiene Packing</h1>
    </div>
    <p>All our products are packed and delivered hygienically.</p>
    <div class="icon-container">
      <i class="icon fa-solid fa-shield-virus"></i>
    </div>
  </div>
  <div style="--i: 3" class="card">
    <div class="header">
      <h1>Farm Fresh</h1>
      <h1>Farm Fresh</h1>
    </div>
    <p>Our products delivered straight from farm.</p>
    <div class="icon-container">
      <i class="icon fa-solid fa-money-bill-wheat"></i>
    </div>
  </div>
</div>
